chex==0.1.85
dm_control==1.0.16
fprs==1.0.0
gymnasium==0.29.1
mujoco==3.1.5
mujoco_mjx==3.1.5
moojoco==1.0.8
numpy==1.26.3
opencv_python==4.9.0.80
Pillow==10.2.0
setuptools==69.0.3
transforms3d==0.4.1
